/* sidebar + panels same as before */
.profile-box input[type=file] {
  margin-top: 5px;
}
.post .user-info {
  display: flex;
  align-items: center;
}
.post .user-info img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}
.friend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}
.friend-item img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}