body{margin:0;font-family:Arial;background:#f0f2f5}
.login-box,.post,.profile{background:#fff;margin:10px;padding:15px;border-radius:8px}
button{background:#1877f2;color:#fff;border:none;padding:10px;border-radius:5px}
.topbar{background:#1877f2;color:white;padding:10px;display:flex;justify-content:space-between}
.avatar{width:80px;height:80px;border-radius:50%}