body {
  margin: 0;
  background: radial-gradient(circle, #222, #000);
  font-family: Arial;
  color: #fff;
  text-align: center;
}

.app {
  max-width: 360px;
  margin: auto;
  padding: 20px;
}

.coins {
  margin: 15px;
  font-size: 18px;
}

.wheel {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  border: 8px solid gold;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  background: #111;
}

.wheel div {
  font-size: 18px;
  color: gold;
}

button {
  padding: 14px;
  width: 100%;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background: gold;
  color: #000;
  cursor: pointer;
}

#result {
  margin-top: 15px;
  font-size: 18px;
}