body {
  font-family: Arial;
  margin: 0;
  padding: 10px;
  background: #f0f2f5;
}

h2 {
  text-align: center;
}

.post-box textarea {
  width: 100%;
  height: 60px;
  padding: 10px;
}

.post-box button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  background: #1877f2;
  color: white;
  border: none;
  border-radius: 5px;
}

.post {
  background: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 8px;
}

.actions {
  display: flex;
  gap: 10px;
  margin-top: 5px;
}

.actions button {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 14px;
}

.comment-box input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}
