body{
  margin:0;
  background:#0b1d3a;
  font-family:Arial;
  color:white;
  text-align:center;
}

#topbar{
  padding:10px;
  background:#08142a;
  display:flex;
  justify-content:space-between;
}

#withdraw{
  background:lime;
  border:none;
  padding:5px 10px;
  border-radius:10px;
}

#levels button{
  margin:5px;
  padding:8px 14px;
  border-radius:15px;
  border:none;
}

canvas{
  display:block;
  margin:auto;
  background:linear-gradient(#1b3b6f,#0b1d3a);
}